@use 'variables' as v;
@use 'mixins' as m;

html{
    box-sizing: border-box;
    font-size:62.5% /*1 px = 1rem*/
}
*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
    color: v.$negro;
    line-height: 1.5;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3{
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}

img {
    width: 100%;
}
.boton-primario{
    background-color: v.$salmon;
    padding: 3rem;
    border-radius: 15rem;
    width: 30%;
    color: v.$blanco;
    margin: 0 auto;
    font-size: larger;

    &:hover{
        background-color: v.$amarillo;
    }
}
.boton-secundario{
    background-color: v.$verdeos;
    padding: 3rem;
    border-radius: 15rem;
    width: 30%;
    color: v.$blanco;
    margin: 0 auto;
    font-size: larger;

    &:hover{
        background-color: v.$amarillo;
    }
}