
@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: $desktopXL) {
        @content;
    }
}
@mixin grid ($columnas, $gap) {
    display: grid;
    grid-template-columns:repeat($columnas, 1fr);
    gap: $gap;
}
@mixin flex ($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}
// @mixin boton-primario{
    
// }