//fuentes
$fuente_principal : 'Roboto', sans-serif;
//Media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//Colores
$naranja : #FD8533;
$amarillo : #FDBD01;
$verdecl : #5DAE70;
$verdeos : #005353;
$azulcl : #3D768D;
$azulos : #4F4873;
$salmon : #FA4C5A;
$negro : #000;
$blanco : #fff;
