.footer{
    background-color: $verdeos;
    height: auto;
    padding: 1rem;
    text-align: center;
    
}

.footer-nav{
    margin: 1rem;
    justify-content: center;
}

.copyright{
    position: relative;
    font-size: 1.8rem;
    color: $blanco;
    margin: .5rem 0 0 0;
    
}