@use '../base/mixins' as m;
@use '../base/variables' as v;

.header-container{
    background-color: v.$verdeos;
}
.site-header, .navegacion-principal{
    @include m.flex(row, 10rem);
    justify-content: space-between;
    align-items: center;
}

.site-header{
    position: relative;
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    margin-top: -1.27rem; 
    z-index: 1;
}
.navegacion-principal a{
    color: v.$blanco;
    font-size: 1.8rem;
    &:hover{
        color: v.$amarillo;  
    }
}




