
.header-container{
    background-color: $verdeos;
}

.site-header{
    @include tablet{
        @include flex(row, 5rem);
        justify-content: space-between;
        align-items: center;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

}
.site-header{
    position: relative;
    width: 80%;
    @include tablet{
        padding: 2.3rem;
    }
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

.logo{
    @include tablet{
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    margin-top: -1.27rem; 
    z-index: 1;
    }
    width: 15rem;
    height: 15rem;
}
.navegacion-principal{
    @include tablet{
        display: flex;
        flex-direction: row;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.mostrar{
    display: flex;
    flex-direction: column;
    @include tablet{
        display: block;
    }
    visibility: visible;
    opacity: 1;
    transition: visibility 1s linear, opacity 1s linear;
    
}

.navegacion-principal a{
    color: $blanco;
    font-size: 2rem;
    
    &:hover{
        color: $amarillo;  
    }
    @include tablet{
        margin: 0 3rem 0 0;
        &:last-of-type{
        margin-right: 0;
    }

  }
    margin: 1rem 0;
}

.mobile-menu {
    width: 5rem;
    height: auto;
    @include tablet {
        display: none;
    }
    &:hover{
        filter: invert(20%);
    }
}


.carrito{
    width: 5rem;
    height: auto;
    &:hover{
        filter: invert(20%);
    }
}
.cart-mobile{
    display: block;
    @include tablet{
        display: none;
    }
}
.cart-desktop{
    width: 3.5rem;
    height: auto;
    display: none;
    @include tablet{
        display: block;
    }
    
}



