.no-webp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/build/img/portada-imagen.jpg);
}
.webp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/build/img/portada-imagen.webp);
}
.no-webp, .webp{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.portada-container{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    
}
h1{
    font-family: $fuente_principal;
    font-size: 4rem;
    font-weight: 700;
    color: $blanco;
    line-height: 8rem;
}
.portada-container h1 span{
    color: $amarillo;
}



